.vscode/*
.vscode/settings.json

.idea/*

# Local history for Visual Studio Code
.history/

# Built Visual Studio Code extensions
*.vsix

# byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]

# others
#gmr82.py
#*.json
drafts/*
*.ipynb
*.pkl